<div class="contains-wrapper">
    <div class="contains">
        <h1>Самая далекая планета Солнечной системы</h1>
        <p>
            Объект, получивший временное наименование 2015 TG387, обращается вокруг Солнца по сильно
            вытянутой орбите. Расстояние до светила в перигелии составляет 65 астрономических единиц.
        </p>
        <img src="~/Content/Images/intro_1.jpg" alt="Объект, получивший временное наименование 2015 TG387" />
        <br />
        <p>
            Для сравнения, Плутон в перигелии сближается с Солнцем до 34 а.е., а Сатурн — всего до 10 а.е.
            Из известных на данный момент карликовых планет дальше от Солнца расположены только 2012 VP113
            и Sedna, перигелии которых находятся в 80 и 76 а.е. от нашего светила соответственно. Но 2015
            TG387 перемещается по существенно более вытянутой орбите и в афелии находится в 2300 а.е. от Солнца.
        </p>

        <p>
            Диаметр планеты составляет около 300 километров. Больше о ней сказать почти ничего нельзя.

            Новый мир впервые наблюдался в 2015 году (с этим связаны первые четыре цифры названия) на
            японском 8-метровом телескопе Subaru, расположенном в обсерватории Мауна-Кеа на Гавайях.
            В последующие годы наблюдения вели также телескопы Magellan (Чили) и Discovery Channel в Аризоне.
            Целью наблюдений было точное определение параметров орбиты планеты.
        </p>

        @Html.ActionLink("Пройти тест", "Index", "Test", new { @class = "btn btn-primary" })
    </div>
</div>